body {
    font-family: 'Grenze Gotisch', cursive;
    background-image: url("../images/backgrounds/1.jpg");
}

.jumbotron {
    margin-top: 50px;
    background-color: rgb(238,238,238, .7);
    border-radius: 25px;
}

h1 {
    font-size: 42px;
}

img {
    width: 125px;
    height: 125px;
}

button {
    background-color: white;
    padding: 15px;
}

#results {
    font-size: 38px;
}

#max {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: -25px;
}

input {
    width: 50px;
}

.mySlides {
  height: 100%;
  width: 100%;
}