body {
    font-family: 'Grenze Gotisch', cursive;
}

.jumbotron {
    margin-top: 50px;
    background-color: rgb(238,238,238, .9);
    border-radius: 25px;
}

h1 {
    font-size: 42px;
}

img {
    width: 125px;
    height: 125px;
}

button {
    background-color: white;
    padding: 15px;
}

.fas {
    background-color: transparent;
    cursor: pointer;
}

#results {
    font-size: 32px;
}

input {
    width: 50px;
}

.mySlides {
  height: 100%;
  width: 100%;
}